.searchBar {
    width: 400px;
    height: 28px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.searchIcon {
    color: white
}
.searchBtn {
    background-color: rgb(201, 5, 5);
    height: 32px;
    width: 40px;
    border: 1px solid rgb(201, 5, 5);
    border-radius: 4px;
}